<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kml.github.kemoleseding">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".ApplicationForHilt"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/kml_mark"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/kml_mark"
        android:supportsRtl="true"
        android:theme="@style/Theme.KemoLeseding.AppBarOverlay">
        <activity
            android:name="com.kml.github.kemoleseding.Video"
            android:exported="true"
            android:label="@string/title_activity_video"
            android:theme="@style/Theme.KemoLeseding.Dark"
            android:screenOrientation="sensorLandscape">
        </activity>

        <activity
            android:name="com.kml.github.kemoleseding.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.KemoLeseding">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name = "un"
            android:value = "${USERNAME}"/>

        <meta-data
            android:name = "pw"
            android:value = "${PASSWORD}"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kml.github.kemoleseding.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>